* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body p {
  font-size: 14px;
  font-weight: 300;
}

body h2 {
  font-size: 14px;
  font-weight: 500;
}

body h3 {
  font-size: 12px;
  font-weight: 400;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  height: 54px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 935px;
}

.divider {
  border: 1px solid #dbdbdb;
  height: 23px;
  margin: 0 10px;
}

.insta-logos {
  display: flex;
  align-items: center;
}
.insta-logos img {
  margin-top: 7px;
}

.menu-top input {
  text-align: center;
  height: 26px;
  width: 215px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  outline: none;
}

.other-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 148px;
}
/* HEADER */

/* MAIN STORIES */
main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  margin-top: 88px;
  width: 935px;
  background-color: #ffffff;
}

.home {
  width: 614px;
}

.box-stories {
  display: flex;
  align-items: center;
  height: 118px;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 23px;

  background-color: #ffffff;
  overflow: hidden;
}

.storie-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/stories_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 66px;
  height: 66px;
}

.storie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-right: 14px;
  height: 85px;
}

.box-stories img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
}
/* MAIN STORIES */

/* MAIN POSTS */
.posts {
  margin-top: 24px;
}

.post {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 60px;
}

.post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  border-bottom: 1px solid #efefef;
}

.post-top section {
  display: flex;
  align-items: center;
  height: 60px;
}
.post-top h2 {
  margin-left: 15px;
}

.icons-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.icons-bottom section {
  display: flex;
  justify-content: space-between;
  width: 93px;
}
.likes {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 14px;
}

.likes img {
  margin-right: 5px;
}

strong {
  font-weight: bold;
}

/* MAIN POSTS */

/* ION */
/* .menu-top  */
ion-icon {
  font-size: 23px;
}

.icons-bottom ion-icon {
  font-size: 22px;
}
